In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing, metrics
import lightgbm as lgb
pd.options.display.max_columns = None
pd.options.display.max_rows = None

/Users/aryamonani/opt/anaconda3/lib/python3.7/site-packages/lightgbm/__init__.py:48: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [2]:
click_data = pd.read_csv('/Users/aryamonani/Downloads/train_sample.csv', parse_dates = ['click_time']) #to use click_time as timestamp data

In [3]:
click_data.describe(include='all')

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
count,2.300561e+06,2.300561e+06,2.300561e+06,2.300561e+06,2.300561e+06,2300561,456846,2.300561e+06
unique,NaN,NaN,NaN,NaN,NaN,251267,182057,NaN
top,NaN,NaN,NaN,NaN,NaN,2017-11-09 04:31:15,2017-11-08 14:16:29,NaN
freq,NaN,NaN,NaN,NaN,NaN,29,14,NaN
first,NaN,NaN,NaN,NaN,NaN,2017-11-06 15:13:23,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2017-11-09 16:00:00,NaN,NaN
mean,1.056052e+05,1.550743e+01,2.348307e+01,2.297843e+01,2.562431e+02,NaN,NaN,1.985803e-01
std,8.339342e+04,2.108502e+01,2.501862e+02,5.483919e+01,1.291065e+02,NaN,NaN,3.989313e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,0.000000e+00
25%,4.383700e+04,3.000000e+00,1.000000e+00,1.300000e+01,1.370000e+02,NaN,NaN,0.000000e+00
50%,8.749800e+04,1.200000e+01,1.000000e+00,1.800000e+01,2.450000e+02,NaN,NaN,0.000000e+00
75%,1.387450e+05,1.800000e+01,1.000000e+00,2.000000e+01,3.490000e+02,NaN,NaN,0.000000e+00
max,3.647780e+05,7.680000e+02,4.223000e+03,9.110000e+02,4.980000e+02,NaN,NaN,1.000000e+00

In [4]:
click_data.head(10)

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,89489,3,1,13,379,2017-11-06 15:13:23,NaN,0
1,204158,35,1,13,21,2017-11-06 15:41:07,2017-11-07 08:17:19,1
2,3437,6,1,13,459,2017-11-06 15:42:32,NaN,0
3,167543,3,1,13,379,2017-11-06 15:56:17,NaN,0
4,147509,3,1,13,379,2017-11-06 15:57:01,NaN,0
5,71421,15,1,13,153,2017-11-06 16:00:00,NaN,0
6,76953,14,1,13,379,2017-11-06 16:00:01,NaN,0
7,187909,2,1,25,477,2017-11-06 16:00:01,NaN,0
8,116779,1,1,8,150,2017-11-06 16:00:01,NaN,0
9,47857,3,1,15,205,2017-11-06 16:00:01,NaN,0

CREATING FEATURES FROM TIMESTAMP DATA SO IT CAN BE USED FOR PREDICTIONS

In [5]:
clicks = click_data.copy()
clicks['day'] = clicks['click_time'].dt.day.astype('uint8')
clicks['hour'] = clicks['click_time'].dt.hour.astype('uint8')
clicks['minute'] = clicks['click_time'].dt.minute.astype('uint8')
clicks['second'] = clicks['click_time'].dt.second.astype('uint8')
clicks.head(3)

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,day,hour,minute,second
0,89489,3,1,13,379,2017-11-06 15:13:23,NaN,0,6,15,13,23
1,204158,35,1,13,21,2017-11-06 15:41:07,2017-11-07 08:17:19,1,6,15,41,7
2,3437,6,1,13,459,2017-11-06 15:42:32,NaN,0,6,15,42,32

USING LABEL ENCODER TO DEAL WITH CATEGORICAL DATA IN THE COLUMNS MENTIONED IN cat_features WITH A '_lables' IN THE END SO WE CAN DIFFERENTIATE BETWEEN THE NEWLY MADE FEATURES AND THE EXISTING ONES.

In [6]:
label_encoder = preprocessing.LabelEncoder()
cat_features = ['ip', 'app', 'device', 'os', 'channel']
for features in cat_features:
    encoded = label_encoder.fit_transform(clicks[features])
    clicks[features + '_labels'] = encoded

In [7]:
clicks.head(10)

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,day,hour,minute,second,ip_labels,app_labels,device_labels,os_labels,channel_labels
0,89489,3,1,13,379,2017-11-06 15:13:23,NaN,0,6,15,13,23,27226,3,1,13,120
1,204158,35,1,13,21,2017-11-06 15:41:07,2017-11-07 08:17:19,1,6,15,41,7,110007,35,1,13,10
2,3437,6,1,13,459,2017-11-06 15:42:32,NaN,0,6,15,42,32,1047,6,1,13,157
3,167543,3,1,13,379,2017-11-06 15:56:17,NaN,0,6,15,56,17,76270,3,1,13,120
4,147509,3,1,13,379,2017-11-06 15:57:01,NaN,0,6,15,57,1,57862,3,1,13,120
5,71421,15,1,13,153,2017-11-06 16:00:00,NaN,0,6,16,0,0,21781,15,1,13,43
6,76953,14,1,13,379,2017-11-06 16:00:01,NaN,0,6,16,0,1,23409,14,1,13,120
7,187909,2,1,25,477,2017-11-06 16:00:01,NaN,0,6,16,0,1,94979,2,1,25,166
8,116779,1,1,8,150,2017-11-06 16:00:01,NaN,0,6,16,0,1,35644,1,1,8,42
9,47857,3,1,15,205,2017-11-06 16:00:01,NaN,0,6,16,0,1,14521,3,1,15,54

Here we'll create training, validation, and test splits. First, clicks DataFrame is sorted in order of increasing time. The first 80% of the rows are the train set, the next 10% are the validation set, and the last 10% are the test set.

In [9]:
features_cols = ['day', 'hour', 'minute', 'second', 'ip_labels',
                'app_labels', 'device_labels', 'os_labels', 'channel_labels']
valid_fraction = 0.1
click_srt = clicks.sort_values('click_time')
valid_rows = int(len(click_srt) * valid_fraction)
train = click_srt[:-valid_rows * 2]
valid = click_srt[-valid_rows * 2:-valid_rows]
test = click_srt[-valid_rows:]

LightGBM

In [15]:
dtrain = lgb.Dataset(train[features_cols], label=train['is_attributed'])
dvalid = lgb.Dataset(valid[features_cols], label=valid['is_attributed'])
dtest = lgb.Dataset(test[features_cols], label=test['is_attributed'])

param = {'num_leaves':64, 'objective': 'binary' }
param['metric'] = 'auc'
num_round = 150
bst = lgb.train(param, dtrain, num_round, valid_sets=[dvalid], early_stopping_rounds=10)

[1]	valid_0's auc: 0.948979
Training until validation scores don't improve for 10 rounds
[2]	valid_0's auc: 0.949235
[3]	valid_0's auc: 0.950126
[4]	valid_0's auc: 0.950072
[5]	valid_0's auc: 0.950536
[6]	valid_0's auc: 0.950943
[7]	valid_0's auc: 0.951453
[8]	valid_0's auc: 0.951518
[9]	valid_0's auc: 0.952385
[10]	valid_0's auc: 0.952434
[11]	valid_0's auc: 0.952465
[12]	valid_0's auc: 0.952638
[13]	valid_0's auc: 0.95266
[14]	valid_0's auc: 0.952766
[15]	valid_0's auc: 0.953203
[16]	valid_0's auc: 0.953503
[17]	valid_0's auc: 0.953793
[18]	valid_0's auc: 0.953966
[19]	valid_0's auc: 0.954184
[20]	valid_0's auc: 0.9543
[21]	valid_0's auc: 0.954305
[22]	valid_0's auc: 0.954536
[23]	valid_0's auc: 0.954748
[24]	valid_0's auc: 0.955142
[25]	valid_0's auc: 0.955493
[26]	valid_0's auc: 0.955611
[27]	valid_0's auc: 0.955708
[28]	valid_0's auc: 0.955795
[29]	valid_0's auc: 0.956172
[30]	valid_0's auc: 0.95623
[31]	valid_0's auc: 0.956477
[32]	valid_0's auc: 0.956606
[33]	valid_0's auc: 0.956864
[34]	valid_0's auc: 0.957204
[35]	valid_0's auc: 0.957327
[36]	valid_0's auc: 0.957408
[37]	valid_0's auc: 0.957524
[38]	valid_0's auc: 0.957659
[39]	valid_0's auc: 0.957846
[40]	valid_0's auc: 0.958042
[41]	valid_0's auc: 0.958146
[42]	valid_0's auc: 0.958181
[43]	valid_0's auc: 0.958285
[44]	valid_0's auc: 0.958433
[45]	valid_0's auc: 0.95854
[46]	valid_0's auc: 0.958625
[47]	valid_0's auc: 0.958756
[48]	valid_0's auc: 0.958863
[49]	valid_0's auc: 0.958938
[50]	valid_0's auc: 0.959046
[51]	valid_0's auc: 0.95908
[52]	valid_0's auc: 0.959147
[53]	valid_0's auc: 0.9592
[54]	valid_0's auc: 0.959259
[55]	valid_0's auc: 0.959311
[56]	valid_0's auc: 0.959324
[57]	valid_0's auc: 0.959348
[58]	valid_0's auc: 0.959435
[59]	valid_0's auc: 0.959463
[60]	valid_0's auc: 0.95949
[61]	valid_0's auc: 0.959562
[62]	valid_0's auc: 0.959721
[63]	valid_0's auc: 0.959729
[64]	valid_0's auc: 0.959773
[65]	valid_0's auc: 0.959809
[66]	valid_0's auc: 0.959868
[67]	valid_0's auc: 0.959921
[68]	valid_0's auc: 0.959994
[69]	valid_0's auc: 0.960065
[70]	valid_0's auc: 0.96011
[71]	valid_0's auc: 0.960133
[72]	valid_0's auc: 0.960275
[73]	valid_0's auc: 0.960299
[74]	valid_0's auc: 0.960336
[75]	valid_0's auc: 0.960365
[76]	valid_0's auc: 0.960411
[77]	valid_0's auc: 0.960488
[78]	valid_0's auc: 0.960523
[79]	valid_0's auc: 0.960563
[80]	valid_0's auc: 0.960624
[81]	valid_0's auc: 0.960665
[82]	valid_0's auc: 0.960724
[83]	valid_0's auc: 0.960724
[84]	valid_0's auc: 0.960751
[85]	valid_0's auc: 0.960799
[86]	valid_0's auc: 0.960853
[87]	valid_0's auc: 0.960876
[88]	valid_0's auc: 0.960934
[89]	valid_0's auc: 0.961012
[90]	valid_0's auc: 0.961012
[91]	valid_0's auc: 0.961065
[92]	valid_0's auc: 0.961095
[93]	valid_0's auc: 0.961131
[94]	valid_0's auc: 0.961136
[95]	valid_0's auc: 0.961155
[96]	valid_0's auc: 0.961191
[97]	valid_0's auc: 0.961189
[98]	valid_0's auc: 0.961189
[99]	valid_0's auc: 0.961224
[100]	valid_0's auc: 0.961228
[101]	valid_0's auc: 0.96125
[102]	valid_0's auc: 0.961259
[103]	valid_0's auc: 0.961289
[104]	valid_0's auc: 0.961309
[105]	valid_0's auc: 0.961309
[106]	valid_0's auc: 0.96134
[107]	valid_0's auc: 0.961373
[108]	valid_0's auc: 0.961382
[109]	valid_0's auc: 0.961391
[110]	valid_0's auc: 0.961402
[111]	valid_0's auc: 0.961449
[112]	valid_0's auc: 0.96145
[113]	valid_0's auc: 0.961482
[114]	valid_0's auc: 0.961481
[115]	valid_0's auc: 0.961492
[116]	valid_0's auc: 0.961513
[117]	valid_0's auc: 0.961531
[118]	valid_0's auc: 0.961539
[119]	valid_0's auc: 0.961563
[120]	valid_0's auc: 0.961563
[121]	valid_0's auc: 0.961568
[122]	valid_0's auc: 0.961588
[123]	valid_0's auc: 0.961599
[124]	valid_0's auc: 0.961605
[125]	valid_0's auc: 0.961605
[126]	valid_0's auc: 0.96161
[127]	valid_0's auc: 0.961626
[128]	valid_0's auc: 0.961626
[129]	valid_0's auc: 0.96163
[130]	valid_0's auc: 0.961646
[131]	valid_0's auc: 0.961678
[132]	valid_0's auc: 0.961672
[133]	valid_0's auc: 0.961673
[134]	valid_0's auc: 0.96171
[135]	valid_0's auc: 0.96171
[136]	valid_0's auc: 0.961724
[137]	valid_0's auc: 0.961723
[138]	valid_0's auc: 0.961726
[139]	valid_0's auc: 0.961731
[140]	valid_0's auc: 0.961736
[141]	valid_0's auc: 0.961751
[142]	valid_0's auc: 0.961759
[143]	valid_0's auc: 0.961777
[144]	valid_0's auc: 0.961777
[145]	valid_0's auc: 0.961779
[146]	valid_0's auc: 0.961782
[147]	valid_0's auc: 0.961782
[148]	valid_0's auc: 0.961796
[149]	valid_0's auc: 0.961799
[150]	valid_0's auc: 0.961806
Did not meet early stopping. Best iteration is:
[150]	valid_0's auc: 0.961806

In [19]:
ypred = bst.predict(test[features_cols])
score = metrics.roc_auc_score(test['is_attributed'], ypred)
print(f"test score: {score}")

test score: 0.972368083424102